
#titulo{
    font-size: 2.5rem;
    font-family: 'Mochiy Pop P One', sans-serif;
}

#contenido{
    text-justify: auto;
    font-size: 1.5rem;
    font-family: 'Quicksand', sans-serif;
    
}

.navbar{
    background-color: white;
}

#logo{
    width: 10rem;
}
#avion {
    width: 3.5rem;
    animation-name: volar;
        animation-duration: 3s;
        position: absolute;
        top: 11.5px;
        left: 175px;
 }
  
 @keyframes volar {
    5% {transform: translate(10px, 5px);}
    10% {transform: translate(20px, 10px);}
    15% {transform: translate(30px, 12px);}
    20% {transform: translate(40px, 15px);}
    25% {transform: translate(50px, 15px);}
    30% {transform: translate(70px, 12px);}
    35% {transform: translate(80px, 10px);}
    40% {transform: translate(90px, 5px);}
    45% {transform: translate(100px, 0px);}
    50% {transform: translate(120px, -5px);}
    55% {transform: translate(130px, -10px);}
    60% {transform: translate(140px, -20px);}
    65% {transform: translate(160px, -30px);}
    70% {transform: translate(170px, -40px);}
    75% {transform: translate(190px, -60Ppx);}
    80% {transform: translate(210px, -70px);}
    85% {transform: translate(220px, -90px);}
    90% {transform: translate(-260px, -200px);}
    95% {transform: translate(-130px, -100px);}
    96% {transform: translate(-80px, -50px);}
    97% {transform: translate(-40px, -10px);}
    100% {transform: translate(0px, 0px);}
 }
 
body{
    /* background-color: whitesmoke; */
    background-color: #f8f9fb;
}

#name{
    color: #FCAD47;
    font-weight: bolder;
    font-size: large;
    font-family: 'Mochiy Pop P One', sans-serif;
}

#description{
    font-family: 'Quicksand', sans-serif;
    font-size: 1.2em;
}

#avatar{
    height: 200px;
}

.full-footer{
    background-color: #65c9ff;
}

#titulo{
    font-weight: bold;
    padding-bottom: 20px;
    text-align: auto;
}

.transicion:hover #avatar {
    opacity: 0.3;
} 
.transicion:hover .middle {
    opacity: 1;
}
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.text {
    background-color: #65c9ff4d;
    color: rgb(0, 0, 0);
    font-size: .9em ;
    padding: 10px 10px;
    border-radius: 15px 50px 30px;
    }
    #login{
        width: 1.7rem;
    }
    .dropdown-menu {
        right: 0;
        left: auto;
        padding-left: 1px;
        padding-right: 1px;
    }
    
    #icon {
        width: 2rem;
        margin-left: 1.5rem;
        margin-right: 1.5rem;
        margin-bottom: 1rem;
    }
    #frontImage{
        border-radius: 1rem;
    }